.Home{
  width: 99%;
  height: 420px;
  border: 1px solid black;
  border-radius: 4px;
  background-color: cadetblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
